<div class='paragraph-row {{ margins | join(' ') }}{% if row_layout %} {{ row_layout }}{% endif %}'>
  <div class='grid {{ grid_type }} {{ horizontal_alignment }} {{ vertical_alignment }}{% if padded %} {{ padded }} {% endif %} {{ attributes.class }}'>
    {% for col in columns %}
      {{ col }}
    {% endfor %}
  </div>
</div>
