<div class='paragraph-row {{ margins | join(' ') }}{% if attributes.parent_class %} {{ attributes.parent_class }}{% endif %}{% if row_layout %} {{ row_layout }}{% endif %}'>
  <div {{ attributes|without('parent_class') }}>
    {% for col in columns %}
      {{ col }}
    {% endfor %}
  </div>
  {% if htmlAppend %}
    {{ htmlAppend|raw }}
  {% endif %}
</div>
