{% set col_count = 0 %}
{% for col in columns %}
  {% if col|render %}
  {% set col_count = col_count + 1 %}
  {% endif %}
{% endfor %}
<div class='paragraph-row {{ margins | join(' ') }}{% if attributes.parent_class %} {{ attributes.parent_class }}{% endif %}{% if row_layout %} {{ row_layout }}{% endif %}'>
  <div {{ attributes|without('parent_class').removeClass(columns|length|numberToName).addClass(col_count|numberToName) }}>
    {% for col in columns %}
      {{ col }}
    {% endfor %}
  </div>
  {% if htmlAppend %}
    {{ htmlAppend|raw }}
  {% endif %}
</div>
