<figure class="col paragraph paragraph-image responsive-image rs_image {{ sizing }} {{ attributes.class }}">
  {% if link %}
  <a href="{{link}}">
  {% endif %}
  {{ image }}
  {% if captions|length > 0 %}
  {% for caption in captions %}
    <figcaption>
      <div class='textbox'>
        {{ caption }}
      </div>
    </figcaption>
  {% endfor %}
  {% endif %}
  {% if link %}
  </a>
  {% endif %}
</figure>
