<div class='paragraph paragraph-row {{ margins | join(' ') }}'>
  <div class='grid {{ grid_type }} {{ horizontal_alignment }} {{ vertical_alignment }} {{ padded }}'>
    {% for col in columns %}
    <div class='col'>
      {{ col }}
    </div>
    {% endfor %}
  </div>
</div>
