<div class='paragraph-row {{ margins | join(' ') }}'>
  <div class='grid {{ grid_type }} {{ horizontal_alignment }} {{ vertical_alignment }} {{ padded }} {{ attributes.class }}'>
    {% for col in columns %}
      {{ col }}
    {% endfor %}
  </div>
</div>
