{% if content.field_mobile_image.0|render %}
  <figure {{ attributes }}>
  {% if link %}
  <a href="{{link}}">
  {% endif %}
  <div class="rs-image-wrapper">
    <picture>
      {% if lazyload %}
      <source sizes="{{ image.sizes }}" {% if image.srcset|length > 0 %}data-srcset="{{ image.srcset }}"{% else %}src="{{ image.src }}"{% endif %} media="(min-width: 800px)" />
      <img data-width="{{ mobile.width }}" data-height="{{ mobile.height }}" sizes="{{ mobile.sizes }}" {% if mobile.srcset|length > 0 %}data-src="{{ mobile.src }}" data-srcset="{{ mobile.srcset }}"{% else %}data-src="{{ mobile.src }}"{%endif %} class="{{image.class}}" alt="{{alt}} "/>
      {% else %}
      <source sizes="{{ image.sizes }}" {% if image.srcset|length > 0 %}srcset="{{ image.srcset }}"{% else %}src="{{ image.src }}"{% endif %} media="(min-width: 800px)" />
      <img data-width="{{ mobile.width }}" data-height="{{ mobile.height }}" sizes="{{ mobile.sizes }}" {% if mobile.srcset|length > 0 %}src="{{ mobile.src }}" srcset="{{ mobile.srcset }}"{% else %}src="{{ mobile.src }}"{%endif %} class="{{image.class}}" alt="{{alt}} "/>
      {% endif %}
    </picture>
  </div>
  {% if captions|length > 0 %}
  {% for caption in captions %}
    <figcaption>
      <div class='textbox'>
        {{ caption }}
      </div>
    </figcaption>
  {% endfor %}
  {% endif %}
  {% if htmlAppend %}
    {{ htmlAppend|raw }}
  {% endif %}
  {% if link %}
  </a>
  {% endif %}
</figure>
{% else %}
  <figure class="rs-image-parentwrapper nopadding">
    {% if link %}
    <a href="{{link}}">
    {% endif %}
    {{ image }}
    <div class="rs-image-wrapper">
      {% if lazyload %}
      <img data-width="{{ image.width }}" data-height="{{ image.height }}" sizes="{{ image.sizes }}" {% if image.srcset|length > 0 %}data-src="{{ image.src }}" data-srcset="{{ image.srcset }}"{% else %}src="{{ image.src }}"{% endif %} class="{{image.class}}" alt="{{alt}} "/>
      {% else %}
      <img data-width="{{ image.width }}" data-height="{{ image.height }}" sizes="{{ image.sizes }}" {% if image.srcset|length > 0 %}src="{{ image.src }}" srcset="{{ image.srcset }}"{% else %}src="{{ image.src }}"{% endif %} class="{{image.class}}" alt="{{alt}} "/>
      {% endif %}
    </div>
    {% if captions|length > 0 %}
    {% for caption in captions %}
      <figcaption>
        <div class='textbox'>
          {{ caption }}
        </div>
      </figcaption>
    {% endfor %}
    {% endif %}
    {% if htmlAppend %}
      {{ htmlAppend|raw }}
    {% endif %}
    {% if link %}
    </a>
    {% endif %}
  </figure>
{% endif %}
