<figure class="col paragraph paragraph-video {{type}} {{ attributes.class }}">
  {% if image %}
  <figure class='poster visible'>
    {{ image }}

    {% if captions|length > 0 %}
    {% for caption in captions %}
      <figcaption>
        <div class='textbox'>
          {{ caption }}
        </div>
      </figcaption>
    {% endfor %}
    {% endif %}
  </figure>
  {% endif %}

  {% if video %}
    <iframe title="{% if paragraph.field_image.alt %}{{ paragraph.field_image.alt }}{% else %}Video{% endif %}" src="{{ video}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay; encrypted-media"></iframe>
  {% endif %}

</figure>
