<figure {{ attributes }}">
  {% if link %}
  <a href="{{link}}">
  {% endif %}
  {{ image }}
  {% if captions|length > 0 %}
  {% for caption in captions %}
    <figcaption>
      <div class='textbox'>
        {{ caption }}
      </div>
    </figcaption>
  {% endfor %}
  {% endif %}
  {% if htmlAppend %}
    {{ htmlAppend|raw }}
  {% endif %}
  {% if link %}
  </a>
  {% endif %}
</figure>
